# Configuração do Chrony
# Responsável pela sincronização de horário do sistema

# Servidores NTP do Brasil
pool pool.ntp.br iburst

# Arquivo de drift
driftfile /var/lib/chrony/chrony.drift

# Permitir ajustes rápidos no relógio ao iniciar
makestep 1.0 3

# Registrar logs
logdir /var/log/chrony
