$TTL 86400
@   IN  SOA arq.{{ dominio }}. admin.{{ dominio }}. (
        2           ; Serial
        604800      ; Refresh
        86400       ; Retry
        2419200     ; Expire
        86400 )     ; Negative Cache

; Servidor DNS
@   IN  NS  arq.{{ dominio }}.

; Registros A
arq IN A {{ ip_arq }}
db  IN A {{ ip_db }}
app IN A {{ ip_app }}

; Cliente apontando para o servidor de arquivos
cli IN CNAME arq
