# Porta padrão do SSH
Port 22

# Bloqueia login direto do root
PermitRootLogin no

# Permitir apenas autenticação por chave pública
PubkeyAuthentication yes
PasswordAuthentication no

# Permitir acesso apenas aos grupos exigidos
AllowGroups vagrant ifpb

# Permitir exportação gráfica via SSH (X11)
X11Forwarding yes

# Mensagem exibida no login
Banner /etc/motd

# Utiliza PAM (necessário no Debian)
UsePAM yes
