---
# Playbook para servidor de aplicação (app)
- name: Configurar servidor app
  hosts: app
  become: yes

  vars:
    nome1: caua
    nome2: joao
    matricula1: 20241380021
    matricula2: 20241380005
    ip_arq: "192.168.56.121"
    ip_app: "192.168.56.115"
    dominio: "caua.joao.devops"

  tasks:
    # Apache
    - name: Instalar Apache
      apt:
        name: apache2
        state: present

    - name: Criar página web
      template:
        src: "templates/index.html.j2"
        dest: "/var/www/html/index.html"
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Iniciar Apache
      systemd:
        name: apache2
        state: started
        enabled: yes

    # Autofs para NFS
    - name: Instalar autofs
      apt:
        name: autofs
        state: present

    - name: Configurar montagem NFS
      copy:
        dest: "/etc/auto.nfs"
        content: "nfs -fstype=nfs4,rw {{ ip_arq }}:/dados/nfs"
        owner: root
        group: root
        mode: '0644'

    - name: Configurar auto.master
      lineinfile:
        path: "/etc/auto.master"
        line: "/var/nfs /etc/auto.nfs"
        state: present

    - name: Criar diretório de montagem
      file:
        path: "/var/nfs"
        state: directory

    - name: Reiniciar autofs
      systemd:
        name: autofs
        state: restarted
        enabled: yes
