---
# Importa as configurações comuns
- import_playbook: common.yml

# Playbook específico do servidor de arquivos
- name: Configuração do servidor de arquivos (arq)
  hosts: arq
  become: yes

  vars:
    dominio: "caua.joao.devops"
    ip_arq: "192.168.56.121"
    ip_db: "192.168.56.105"
    ip_app: "192.168.56.125"

    gateway: "192.168.56.1"
    dhcp_range_start: "192.168.56.50"
    dhcp_range_end: "192.168.56.100"

  tasks:
    # ---------------- DHCP ----------------
    - name: Instalar servidor DHCP
      apt:
        name: isc-dhcp-server
        state: present

    - name: Configurar DHCP
      template:
        src: dhcp.conf.j2
        dest: /etc/dhcp/dhcpd.conf
      notify: restart dhcp

    - name: Configurar interface do DHCP
      copy:
        content: 'INTERFACESv4="enp0s8"'
        dest: /etc/default/isc-dhcp-server
      notify: restart dhcp

    # ---------------- DNS ----------------
    - name: Instalar Bind9
      apt:
        name: bind9
        state: present

    - name: Configurar named.conf.local
      template:
        src: named.conf.local.j2
        dest: /etc/bind/named.conf.local
      notify: restart bind9

    - name: Criar zona direta
      template:
        src: db.caua.joao.devops.j2
        dest: /etc/bind/db.caua.joao.devops
      notify: restart bind9

    # ---------------- LVM ----------------
    - name: Criar PVs
      command: pvcreate /dev/sdb /dev/sdc /dev/sdd
      ignore_errors: yes

    - name: Criar VG dados
      command: vgcreate dados /dev/sdb /dev/sdc /dev/sdd
      ignore_errors: yes

    - name: Criar LV ifpb
      command: lvcreate -L 15G -n ifpb dados
      ignore_errors: yes

    - name: Formatar LV
      filesystem:
        fstype: ext4
        dev: /dev/dados/ifpb

    - name: Criar diretório /dados
      file:
        path: /dados
        state: directory

    - name: Montar /dados automaticamente
      mount:
        path: /dados
        src: /dev/dados/ifpb
        fstype: ext4
        state: mounted

    # ---------------- NFS ----------------
    - name: Instalar NFS Server
      apt:
        name: nfs-kernel-server
        state: present

    - name: Criar usuário nfs-ifpb
      user:
        name: nfs-ifpb
        shell: /usr/sbin/nologin

    - name: Criar diretório NFS
      file:
        path: /dados/nfs
        state: directory
        owner: nfs-ifpb
        group: nfs-ifpb
        mode: '0770'

    - name: Configurar exports NFS
      template:
        src: nfs-exports.j2
        dest: /etc/exports
      notify: restart nfs

  handlers:
    - name: restart dhcp
      service:
        name: isc-dhcp-server
        state: restarted
        enabled: yes

    - name: restart bind9
      service:
        name: bind9
        state: restarted
        enabled: yes

    - name: restart nfs
      service:
        name: nfs-kernel-server
        state: restarted
        enabled: yes
