---
# Playbook simplificado para cliente
- name: Configuração básica do host cliente
  hosts: cli
  become: yes

  tasks:
    # 1. Pacotes obrigatórios
    - name: Instalar firefox-esr e xauth
      apt:
        name:
          - firefox-esr
          - xauth
        state: present

    # 2. Configurar SSH para X11
    - name: Habilitar X11 Forwarding
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^X11Forwarding'
        line: 'X11Forwarding yes'
        state: present
      notify: restart ssh

    # 3. Configurar autofs para NFS
    - name: Configurar autofs para NFS
      copy:
        dest: /etc/auto.nfs-cli
        content: |
          dados -fstype=nfs,rw 192.168.56.121:/dados/nfs
        owner: root
        group: root
        mode: '0644'
      notify: restart autofs

    - name: Adicionar ao auto.master
      lineinfile:
        path: /etc/auto.master
        line: '/var/nfs /etc/auto.nfs-cli'
        state: present
      notify: restart autofs

    - name: Criar diretório de montagem
      file:
        path: /var/nfs
        state: directory
        owner: root
        group: root

    # 4. Garantir serviços ativos
    - name: Reiniciar serviços
      systemd:
        name: "{{ item }}"
        state: restarted
      loop:
        - ssh
        - autofs

  handlers:
    - name: restart ssh
      systemd:
        name: ssh
        state: restarted

    - name: restart autofs
      systemd:
        name: autofs
        state: restarted
