---
- name: Configuração básica do servidor DB
  hosts: db
  become: yes

  tasks:
    # 1. MariaDB
    - name: Instalar MariaDB
      apt:
        name: mariadb-server
        state: present

    - name: Iniciar MariaDB
      systemd:
        name: mariadb
        state: started
        enabled: yes

    # 2. Autofs para NFS
    - name: Instalar autofs
      apt:
        name: autofs
        state: present

    - name: Configurar autofs para NFS do arq
      copy:
        dest: /etc/auto.nfs
        content: |
          dados -fstype=nfs4,rw 192.168.56.121:/dados/nfs
        owner: root
        group: root
        mode: '0644'
      notify: restart autofs

    - name: Adicionar ao auto.master
      shell: |
        # Adiciona linha se não existir
        grep -q "^/var/nfs" /etc/auto.master || echo "/var/nfs /etc/auto.nfs" >> /etc/auto.master
      args:
        executable: /bin/bash
      notify: restart autofs

    - name: Criar diretório de montagem
      file:
        path: /var/nfs
        state: directory
        owner: root
        group: root

    - name: Reiniciar autofs para aplicar configurações
      systemd:
        name: autofs
        state: restarted

  handlers:
    - name: restart autofs
      systemd:
        name: autofs
        state: restarted
