---
# Playbook simplificado para servidor DB
- name: Configurar servidor de banco de dados
  hosts: db
  become: yes

  tasks:
    # Instalar MariaDB
    - name: Instalar MariaDB
      apt:
        name: mariadb-server
        state: present

    - name: Iniciar e habilitar MariaDB
      systemd:
        name: mariadb
        state: started
        enabled: yes

    # Configurar autofs para NFS
    - name: Instalar autofs
      apt:
        name: autofs
        state: present

    - name: Configurar montagem automática do NFS
      copy:
        dest: /etc/auto.master
        content: |
          /var/nfs /etc/auto.nfs
        owner: root
        group: root
        mode: '0644'
      notify: restart autofs

    - name: Configurar entrada NFS
      copy:
        dest: /etc/auto.nfs
        content: |
          dados -fstype=nfs,rw 192.168.56.121:/dados/nfs
        owner: root
        group: root
        mode: '0644'
      notify: restart autofs

    - name: Criar diretório de montagem
      file:
        path: /var/nfs
        state: directory
        owner: root
        group: root

  handlers:
    - name: restart autofs
      systemd:
        name: autofs
        state: restarted
