// Zona direta para {{ dominio }}
zone "{{ dominio }}" {
    type master;
    file "/etc/bind/db.{{ dominio }}";
};

// Zona reversa para 192.168.56.0/24 (conforme projeto)
zone "56.168.192.in-addr.arpa" {
    type master;
    file "/etc/bind/db.56.168.192";
};
